@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s;
}

.backnav{
  width: 25px;
  height: 25px;
}

.login {
  display: flex;
  justify-content: center;
}

.sign {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  transition: 1s;
}

.check-box{
   display: flex;
   align-items: center;
   gap: 20px;
   margin-top: 30px;
}

.toggle-rect{
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.toggle-rect input[type="checkbox"] {
  display: none;
}
.toggle-rect input[type="checkbox"] + label {
  display: block;
  position: relative;
  width: 3em;
  height: 1.6em;
  border-radius: 0.2em;
  background: #f3f3f3;
  box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.toggle-rect input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 0.2em;
  background: #50565a;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 0.2em;
  top: 0.2em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toggle-rect input[type="checkbox"]:checked + label:before {
  box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
  left: 1.6em;
}

.signinp {
  display: flex;
  height: 3rem;
  width: 27rem;
  border-radius: 0.1rem;
  border: solid 0.1rem rgb(87, 87, 87);
  padding-left: 1rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  margin-top: 1rem;
  transition: 1s;
}

.btn-sign {
  margin-top: 2rem;
  width: 27rem;
  height: 3rem;
  border-radius: 0.1rem;
  border: solid 0.1rem rgb(87, 87, 87);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
  background-color: white;
  transition: 1s;
}

.btn-sign:hover {
  color: blueviolet;
}

.acc {
  margin-top: 2rem;
  display: flex;
  gap: 5rem;
}

.acc-pass {
  text-decoration: none;
  color: black;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
}

.acc-pass:hover {
  color: blueviolet;
}

.copyright {
  margin-top: 5rem;
  font-family: "Josefin Sans", sans-serif;
}
.acc-pass:hover {
  color: blueviolet;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}


@media (max-width:430px) {
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    transition: 1s;
  }
  .signinp {
    display: flex;
    height: 3rem;
    width: 22rem;
    border-radius: 0.1rem;
    border: solid 0.1rem rgb(87, 87, 87);
    padding-left: 1rem;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    transition: 1s;
  }
  .btn-sign {
    margin-top: 2rem;
    width: 22rem;
    height: 3rem;
    border-radius: 0.1rem;
    border: solid 0.1rem rgb(87, 87, 87);
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    color: black;
    background-color: white;
    transition: 1s;
  }
}

@media (max-width:330px) {
  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    transition: 1s;
  }
  .signinp {
    display: flex;
    height: 2rem;
    width: 16rem;
    border-radius: 0.1rem;
    border: solid 0.1rem rgb(87, 87, 87);
    padding-left: 1rem;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    transition: 1s;
  }
  .btn-sign {
    margin-top: 2rem;
    width: 16rem;
    height: 2rem;
    border-radius: 0.1rem;
    border: solid 0.1rem rgb(87, 87, 87);
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    color: black;
    background-color: white;
    transition: 1s;
  }
}

